In [25]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import chi2
from sklearn.datasets import make_regression
from sklearn.ensemble import ExtraTreesClassifier
from scipy.stats import spearmanr
from scipy import stats

In [26]:
df = pd.read_csv('p2_mod.csv')

In [27]:
df.shape
df.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [28]:
x = df[["X1",	"X2","X3",	"X4","X5","X18","X19","X20",	"X21","X22",	"X23"]]
y= df[["Y"]]

In [29]:
print(x)
print(y)

           X1  X2  X3  X4  X5    X18    X19    X20   X21    X22   X23
0       20000   2   2   1  24      0    689      0     0      0     0
1      120000   2   2   2  26      0   1000   1000  1000      0  2000
2       90000   2   2   2  34   1518   1500   1000  1000   1000  5000
3       50000   2   2   1  37   2000   2019   1200  1100   1069  1000
4       50000   1   2   1  57   2000  36681  10000  9000    689   679
...       ...  ..  ..  ..  ..    ...    ...    ...   ...    ...   ...
29995  220000   1   3   1  39   8500  20000   5003  3047   5000  1000
29996  150000   1   3   2  43   1837   3526   8998   129      0     0
29997   30000   1   2   2  37      0      0  22000  4200   2000  3100
29998   80000   1   3   1  41  85900   3409   1178  1926  52964  1804
29999   50000   1   2   1  46   2078   1800   1430  1000   1000  1000

[30000 rows x 11 columns]
       Y
0      1
1      1
2      0
3      0
4      0
...   ..
29995  0
29996  0
29997  1
29998  1
29999  1

[30000 rows x 1 columns]

In [30]:
X_new = SelectKBest(chi2, k=1).fit_transform(x, y)

In [31]:
X_new.shape

(30000, 1)

In [32]:
pd.crosstab(np.squeeze(X_new), np.squeeze(y))

Y           0    1
row_0
10000     296  197
16000       2    0
20000    1278  698
30000    1042  568
40000     138   92
...       ...  ...
750000      4    0
760000      1    0
780000      2    0
800000      2    0
1000000     1    0

[81 rows x 2 columns]

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [36]:
#randomForest
def run_randomForest(X_train, X_test, y_train, y_test):
    clf = RandomForestClassifier(n_estimators= 100, random_state = 0, n_jobs = -1)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    score = accuracy_score(y_test,y_pred)*100
    print("Random Forest Accuracy:", score)

In [37]:
run_randomForest(X_train, X_test, y_train, y_test)

<ipython-input-36-8fd48f8cdb82>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf.fit(X_train, y_train)

Random Forest Accuracy: 77.76666666666667

In [38]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# knn = KNeighborsClassifier()
classifier = KNeighborsClassifier(n_neighbors = 81)
classifier.fit(X_train, y_train)
# knn.fit(X_train,y_train)
score = classifier.score(X_test,y_test)
print("KNN Algorithm Score:", score*100)

F:\Anaconda_Python\lib\site-packages\sklearn\neighbors\_classification.py:179: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNN Algorithm Score: 77.85

In [39]:
#LogisticRegression
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
lr = model.score(X_test, y_test)*100
print("LogisticRegression Accuracy:", lr)

LogisticRegression Accuracy: 78.11666666666667

F:\Anaconda_Python\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [40]:
#SVM
from sklearn import svm
from sklearn.svm import SVC
vm = svm.SVC()
vm.fit(X_train, y_train)
svm_score = vm.score(X_test, y_test)*100
print("SVM Accuracy:", svm_score)

F:\Anaconda_Python\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVM Accuracy: 78.11666666666667

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
#DecisionTree
dclf = DecisionTreeClassifier()
dclf.fit(X_train,y_train)
j=dclf.score(X_test,y_test)
print("Decision Tree Algorithm Score:",j*100)

Decision Tree Algorithm Score: 68.06666666666666

In [42]:
#Naive Bayes
from sklearn.naive_bayes import BernoulliNB
bng = BernoulliNB()
bng.fit(X_train, y_train)
nb_score = bng.score(X_test, y_test)*100
print("Naive Bayes Accuracy:", nb_score)

Naive Bayes Accuracy: 73.13333333333333

F:\Anaconda_Python\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [43]:
#Multi Layer Perceptron
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier()
mlp.fit(X_train, y_train)
mlp_score = mlp.score(X_test, y_test)*100
print("Multi Layer Perceptron Accuracy:", mlp_score)

F:\Anaconda_Python\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Multi Layer Perceptron Accuracy: 77.35