In [12]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import chi2
from sklearn.datasets import make_regression
from sklearn.ensemble import ExtraTreesClassifier
from scipy.stats import spearmanr

In [13]:
df = pd.read_excel("finalDataset.xls")

In [14]:
df.shape
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [17]:
X = df.iloc[1:,1:24]  #features
y = df.iloc[1:,24] #targetColumn

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
def run_randomForest(X_train, X_test, y_train, y_test):
    clf = RandomForestClassifier(n_estimators= 100, random_state = 0, n_jobs = -1)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print("Accuracy on Test Set: ")
    print(accuracy_score(y_test,y_pred))

NameError: name 'x' is not defined

In [23]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [25]:
print(X)

           X1 X2 X3 X4  X5  X6  X7  X8  X9 X10  ...     X14    X15    X16  \
1       20000  2  2  1  24   2   2  -1  -1  -2  ...     689      0      0
2      120000  2  2  2  26  -1   2   0   0   0  ...    2682   3272   3455
3       90000  2  2  2  34   0   0   0   0   0  ...   13559  14331  14948
4       50000  2  2  1  37   0   0   0   0   0  ...   49291  28314  28959
5       50000  1  2  1  57  -1   0  -1   0   0  ...   35835  20940  19146
...       ... .. .. ..  ..  ..  ..  ..  ..  ..  ...     ...    ...    ...
29996  220000  1  3  1  39   0   0   0   0   0  ...  208365  88004  31237
29997  150000  1  3  2  43  -1  -1  -1  -1   0  ...    3502   8979   5190
29998   30000  1  2  2  37   4   3   2  -1   0  ...    2758  20878  20582
29999   80000  1  3  1  41   1  -1   0   0   0  ...   76304  52774  11855
30000   50000  1  2  1  46   0   0   0   0   0  ...   49764  36535  32428

         X17    X18    X19    X20   X21    X22   X23
1          0      0    689      0     0      0     0
2       3261      0   1000   1000  1000      0  2000
3      15549   1518   1500   1000  1000   1000  5000
4      29547   2000   2019   1200  1100   1069  1000
5      19131   2000  36681  10000  9000    689   679
...      ...    ...    ...    ...   ...    ...   ...
29996  15980   8500  20000   5003  3047   5000  1000
29997      0   1837   3526   8998   129      0     0
29998  19357      0      0  22000  4200   2000  3100
29999  48944  85900   3409   1178  1926  52964  1804
30000  15313   2078   1800   1430  1000   1000  1000

[30000 rows x 23 columns]

In [26]:
print(y)

1        1
2        1
3        0
4        0
5        0
        ..
29996    0
29997    0
29998    1
29999    1
30000    1
Name: Y, Length: 30000, dtype: object

In [27]:
forPCC= SelectKBest(score_func=f_regression, k=10)

In [28]:
XselforPCC= forPCC.fit_transform(X, y)
print(XselforPCC)
print(XselforPCC.shape)

NameError: name 'x' is not defined

In [3]:
#col1=1
#counter=0
#cols=['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10']
newdf=pd.DataFrame(XselforPCC)
print(newdf)

NameError: name 'XselforPCC' is not defined

In [97]:
newdf1=pd.DataFrame(y)

In [98]:
new_dataset = pd.concat([newdf, newdf1], axis=1)

In [99]:
print(new_dataset)

            0  1  2  3  4  5  6      7      8     9  0
0       20000  2  2 -1 -1 -2 -2      0    689     0  1
1      120000 -1  2  0  0  0  2      0   1000  1000  1
2       90000  0  0  0  0  0  0   1518   1500  1000  0
3       50000  0  0  0  0  0  0   2000   2019  1100  0
4       50000 -1  0 -1  0  0  0   2000  36681  9000  0
...       ... .. .. .. .. .. ..    ...    ...   ... ..
29995  220000  0  0  0  0  0  0   8500  20000  3047  0
29996  150000 -1 -1 -1 -1  0  0   1837   3526   129  0
29997   30000  4  3  2 -1  0  0      0      0  4200  1
29998   80000  1 -1  0  0  0 -1  85900   3409  1926  1
29999   50000  0  0  0  0  0  0   2078   1800  1000  1

[30000 rows x 11 columns]

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [103]:
def run_randomForest(X_train, X_test, y_train, y_test):
    clf = RandomForestClassifier(n_estimators= 100, random_state = 0, n_jobs = -1)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    print("Accuracy on Test Set: ")
    print(accuracy_score(y_test,y_pred))

In [104]:
run_randomForest(X_train, X_test, y_train, y_test)

Accuracy on Test Set:
0.8156666666666667

In [105]:
0.8156666666666667 - 0.815

0.0006666666666667043

In [106]:
0.0006666666666667043*100

0.06666666666667043

In [ ]:
#col1=1
#counter=0
#cols=['c1','c2','c3','c4','c5','c6','c7','c8','c9','c10']
#newdf=pd.DataFrame(columns=cols)