In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('p2_mod.csv')

In [4]:
data.head()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [5]:
data.shape

(30000, 24)

In [6]:
X= data.iloc[:,0:23].values
y= data.iloc[:,23].values

In [7]:
print(X)

[[ 20000      2      2 ...      0      0      0]
 [120000      2      2 ...   1000      0   2000]
 [ 90000      2      2 ...   1000   1000   5000]
 ...
 [ 30000      1      2 ...   4200   2000   3100]
 [ 80000      1      3 ...   1926  52964   1804]
 [ 50000      1      2 ...   1000   1000   1000]]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# knn = KNeighborsClassifier()
classifier = KNeighborsClassifier(n_neighbors = 81)
classifier.fit(X_train, y_train)
# knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=81)

In [11]:
y_pred = classifier.predict(X_test)

In [12]:
# from sklearn.metrics import classification_report, confusion_matrix
# print(classification_report(y_test, y_pred))
# print(confusion_matrix(y_test, y_pred))
score = classifier.score(X_test,y_test)
print("KNN Algorithm Score:", score*100)

KNN Algorithm Score: 80.95

In [13]:
# using decision tree
from sklearn.tree import DecisionTreeClassifier

In [14]:
dclf = DecisionTreeClassifier()
dclf.fit(X_train,y_train)

DecisionTreeClassifier()

In [15]:
i=dclf.score(X_train,y_train)
dt_score=dclf.score(X_test,y_test)*100
print("Decision Tree Accuracy:", dt_score)

Decision Tree Accuracy: 72.3

In [16]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [17]:
#randomForest
def run_randomForest(X_train, X_test, y_train, y_test):
    clf = RandomForestClassifier(n_estimators= 100, random_state = 0, n_jobs = -1)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    score = accuracy_score(y_test,y_pred)*100
    print("Random Forest Accuracy:", score)

In [18]:
run_randomForest(X_train, X_test, y_train, y_test)

Random Forest Accuracy: 81.51666666666667

In [19]:
#LogisticRegression
from sklearn.linear_model import LogisticRegression

In [20]:
model = LogisticRegression()
model.fit(X_train, y_train)
lr = model.score(X_test, y_test)*100
print("LogisticRegression Accuracy:", lr)

LogisticRegression Accuracy: 80.98333333333333

In [21]:
#SVM
from sklearn import svm
from sklearn.svm import SVC

In [22]:
vm = svm.SVC()
vm.fit(X_train, y_train)
svm_score = vm.score(X_test, y_test)*100
print("SVM Accuracy:", svm_score)

SVM Accuracy: 81.93333333333334

In [27]:
#Naive Bayes
from sklearn.naive_bayes import BernoulliNB

In [28]:
bng = BernoulliNB()

In [30]:
bng.fit(X_train, y_train)
nb_score = bng.score(X_test, y_test)*100
print("Naive Bayes Accuracy:", nb_score)

Naive Bayes Accuracy: 67.7

In [31]:
#Multi Layer Perceptron
from sklearn.neural_network import MLPClassifier

In [32]:
mlp = MLPClassifier()

In [34]:
mlp.fit(X_train, y_train)
mlp_score = mlp.score(X_test, y_test)*100
print("Multi Layer Perceptron Accuracy:", mlp_score)

Multi Layer Perceptron Accuracy: 81.65

F:\Anaconda_Python\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:614: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(